<div class="flex flex-col items-center md:flex-row md:justify-between p-4">
    <h1 class="font-bold text-3xl text-primary">Dashboard</h1>
    <label class="input">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round"
               stroke-linecap="round"
               stroke-width="2.5"
               fill="none"
               stroke="currentColor">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
            </g>
        </svg>
        <input type="search" class="grow" placeholder="Search"/>
        <kbd class="kbd kbd-sm">⌘</kbd>
        <kbd class="kbd kbd-sm">K</kbd>
    </label>
    <button class="btn btn-primary hidden md:flex">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"></path>
        </svg>
        New Todo
    </button>
</div>