<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo Web App{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <script defer src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='js/alpine.min.js') }}"></script>
</head>

<body class="bg-base-300 text-base-content overflow-hidden">
    <div class="flex h-screen w-full">
        {% include 'components/_navbar.html' %}
        <main class="flex-1 overflow-y-auto no-scrollbar relative w-full h-full mb-16 md:mb-0 p-4 md:p-8">
            {% block main %}
                Default content
            {% endblock %}
        </main>
    </div>
</body>
</html>