@import "tailwindcss";

@source "../resources/templates";
@plugin "daisyui" {
    themes: light --default, corporate, dark --prefersdark, dracula;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer utilities {
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }

    [x-cloak] {
        display: none !important;
    }
}